body {
  font-size: 16px;
  font-family: Arial;
}
.main-container {
  padding: 0px 60px;
  margin: 0 auto;
}
#header {
  width: 100%;
  /* border:1px solid black;*/
  display: flex;
  flex-direction: row;
  position: fixed;
  border: 1px solid #73ad21;
}

div.sticky {
  position: sticky;
  top: 0;
  display: flex;
  padding: 5px;
  background-color: white;
  border-top: 5px solid black;
}

.image {
  width: 30%;
}
.name {
  width: 70%;
  cursor: pointer;
}
.container {
  display: flex;
}
#experience {
  width: 70%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
#contact {
  width: 30%;
  color: #73808d;
  padding: 0px 30px 0px 30px;
}
img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
h3,
h6 {
  color: #73808d;
  margin: 0;
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .main-container {
    padding: 5px;
  }
  #header {
    width: 100%;
  }
  .image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .name {
    width: 70%;
  }
  img {
    width: 150px;
    height: 150px;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #header {
    flex-direction: column;
  }
  div.sticky {
    display: flex;
    flex-direction: column;
  }
  .main-container {
    padding: 5px;
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .name {
    width: 100%;
    align-items: center;
  }
  .container {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  #experience {
    width: 100%;
  }
  #contact {
    width: 100%;
    padding: 0px;
  }
}
